<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <access-denied-handler error-page="/error/error403.jsp" />

        <intercept-url pattern="/welcome.jsf" access="ROLE_USER" />
        <intercept-url pattern="/admin/index.xhtml" access="ROLE_ADMIN" />
        <intercept-url pattern="/user/index.xhtml" access="ROLE_USER" />
        <intercept-url pattern="/register.xhtml" access="ROLE_ANONYMOUS" />
        <intercept-url pattern="/login.xhtml" access="ROLE_ANONYMOUS" />

        <form-login login-page="/login.xhtml" default-target-url="/index.xhtml" authentication-failure-url="/login.xhtml?status=error" />
        <logout invalidate-session="true" delete-cookies="true" logout-success-url="/" />
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="loginService">
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" >
        <beans:constructor-arg name="strength" value="12" />
    </beans:bean>

</beans:beans>